**/.DS_store
Frameworks/CoreCompiler/CoreCompilerSupportLibs/
build/
*.ipa
*.deb
*.tipa
Payload/
Nyxian/LindChain/JBSupport/libroot.a
Nyxian/LindChain/JBSupport/libroot.h
Nyxian/LindChain/JBSupport/tshelper
*.xcuserstate
xcuserdata/
Shared/kernel
.agents/
.claude/
AGENTS.md

